/* Variables */


/* Global Styles */
main {

}

/* Header  */
#title {
    font-weight: bold;
    
}

#toggle-theme{
    cursor: pointer;
}

/* Countries Result */
.collection-countries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-img-top {
    width: 100%;
    margin-bottom: 20px;
}